<!DOCTYPE html>
<html ng-app="MyFirstApp">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="controller.js"></script>
    <title>Hello controller</title>
  </head>
  <body ng-controller="FirstController">
    <input type="text" ng-model="name">
    {{"Hola "+name}}

    <h3>Comentarios</h3>
    <ul>
      <li ng-repeat="comentario in comentarios">
        {{comentario.comentario}} - {{comentario.username}}
      </li>
    </ul>

  </body>
</html>
